/*
  HEADER 
*/

header{
  justify-content: flex-end;
}

header div{
  position: relative;
  margin:20px 10px 0 0;
  color: rgb(255, 255, 255);
}

header p{
  padding: 5px 10px 5px 40px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: gray;
  font-size: 15px;
}

header i{
  border-radius:5px;
  font-size: 20px;
  background-color: grey;
  /* transform: rotate(45deg); */
}

header .special-i{
  position: absolute;
  top: 5px;
  right: 140px;
  
}



/*
  /HEADER 
*/



/*
  MAIN 
*/
main{
  height: calc(100vh - 148px);
  justify-content: center;
  flex-wrap: wrap;
  overflow-y:hidden;
  padding-top: 20px;
}

main .user-zoom{
  position: relative;
  flex-basis: 300px;
  height: 200px;
  margin-right:5px;
}

main .user-zoom p{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4)
}



/*
  /MAIN 
*/

/*
  FOOTER
*/


footer{
  width: 100vw;
  height: calc(100vh - 769px - 68px);
  justify-content: space-between;
  background-color: #212121;
}


.container-footer{
  padding: 15px;
  align-items: center;
}

footer .i-container {
  justify-content: center;
}

footer .i-container i{
  color: rgb(226, 225, 225);
  font-size: 30px;
}

footer div p{
  color: rgb(226, 225, 225);
  font-size: 20px;
  margin-top: 10px;
}

.chevron-special{
  color: rgb(226, 225, 225);
  font-size: 15px;
  margin: 20px;
}

footer  li{
  margin: auto 7px;
}

.btn-end{
  background-color: gray;
}

.btn-end span{
  padding: 0 20px;
  color: red;
}


/*
  /FOOTER
*/